@charset "utf-8";

/*共通事項
--------------------*/
html{
	font-size: 100%;
}
body{
	font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans", "Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic medium", "Meiryo", sans-serif;
	color: #111;
	line-height: 1.8;
}
img{
	max-width: 100%;
	height: auto;
}
a{
	text-decoration: none;
	color: #000000;
	transition: 0.2s;
}
a:hover{
	opacity: 0.5;
	transition: 0.3s;
}

/* レスポンシブ対応 */




.wrapper{
	width: 1024px;
	margin: 0 auto;
}

/* header---------- */
header{
    padding: 20px 0;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 1000; 
}
.header-contents{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 8px 20px;
}
.main-nav ul{
    display: flex;
    justify-content: center;
    max-width: 1024px;
    height: auto;
}
.main-nav ul li{
    height: auto;
    padding: 0 16px;
    font-size: 16px;
    text-shadow: 
            -1px -1px 0 white,
            1px -1px 0 white,
            -1px 1px 0 white,
            1px 1px 0 white;
}

/* main---------- */
/* mainphoto */
.main-photo{
    position: relative;
    display:  inline-block;
}
.main-photo img{
    width: 100%;
    height: auto;
}
.main-photo h1{
    position: absolute;
    top: 30%;
    left: 65%;
    text-align: right;
    line-height: 1.2;
    transform: translate(-50%, -50%);
    font-size: 150px;
    text-shadow: -8px 6px 4px rgba(0, 0, 0, 0.5);
}
.main-photo p{
    position: absolute;
    top: 70%;
    left: 71%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 90px;
    text-shadow: -8px 6px 4px rgba(0, 0, 0, 0.5);
}
/* mainworks */
.main-works h2{
    text-align: center;
    font-size: 80px;
    width: 100%;
    height: auto;
    padding: 25px 0;
}
.main-works ul{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    list-style: none;
    padding: auto;
}
.main-works li{
    padding: 10px;
    text-align: center;
}
.main-works p{
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    padding: 10px 0 0 0;
}
.main-works img{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
/* mainabout */
.main-about h2{
    text-align: center;
    font-size: 80px;
    width: 100%;
    height: auto;
    padding: 25px 0;
}
.main-about img{
    display: block;
    margin: 0 auto;
    width: 80%;
    height: auto;
}
/* mainphptography */
.main-photography h2{
    text-align: center;
    font-size: 80px;
    width: 100%;
    height: auto;
    padding: 25px 0;
}
.main-photography img{
    display: block;
    margin: 0 auto;
    width: 80%;
    height: auto;
}
/* maincontact */
/* .main-contact h2{
    text-align: center;
    font-size: 80px;
    width: 100%;
    height: auto;
    padding: 40px 0;
} */
/* .gmail p{
    font-size: 40px;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    height: auto;
    color: white;
    background-color: #000000;
    padding: 0 30px;
    border-radius: 30px;
    flex: 1;
} */
/* .insta p{
    font-size: 40px;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    height: auto;
    color: white;
    background-color: #000000;
    padding: 0 30px;
    border-radius: 30px;
    flex: 1;
} */
/* .main-contact ul{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 80px;
    padding: 0px 0 20px 0;
} */
/* .insta{
    align-items: center;
    padding: 20px 10px;
} */

/* .main-contact img{
    width: 60px;
} */
/* footer---------- */
.gmail{
    font-size: 20px;
    padding-bottom: 20px;
}
footer{
    text-align: center;
    font-size: 16px;
    padding: 130px 0px 20px 0;
}
